.headerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.header { 
    font-size: 1.3rem;
    font-weight: 600;
    color: #1976d2;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.tableHead {
    background-color: #1976d2;
}

.tableHeadCell {
    color: #fff;
}

.tasks {
    overflow: hidden !important;
   text-overflow: ellipsis !important;
   display: -webkit-box !important;
   -webkit-line-clamp: 1 !important; /* number of lines to show */
           line-clamp: 1 !important;
   -webkit-box-orient: vertical !important;
}
